.custom-tabs .nav-link {
  color: white;
  font-weight: bold;
}

.custom-tabs .nav-link.active {
  color: #9b59b6;
  border-bottom: 2px solid #9b59b6;
}

.tab-content {
  padding: 10px 0;
}

.tab-item {
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid #444;
}
